@import "color";

.graphbox {
    // border-radius: 10px;
    padding: 0px;
    background: white;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    padding-bottom: 20px;
}

.first {
    fill: @first
}

.second {
    fill: @second
}

.third {
    fill: @third
}

@margin_side : 2.5%;
@width : (100% - (@margin_side * 6)) / 3;
.col-md-4 {
    color: white;
    background-color: @forth;
    margin: 0 @margin_side;
    flex: 0 0 @width;
    width: @width;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    &:hover {
        color: white;
        background-color: lighten(@forth, 15%);
    }
}
.classes {
    color: white;
    background-color: darken(@first, 15%);
}
.leaf {
    color: white;
    background-color: darken(@second, 15%);
}
.documents {
    color: white;
    background-color: darken(@third, 15%);
}